* {
	margin: 0px;
	padding: 0px;
}

body {
    background-color: lightcoral;
}

p {
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;	
	margin-bottom: 7px;
}

.bigLetter {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.5em;
	color: darkslategrey;
}

a:link { color: #000; text-decoration: none; }
a:visited { color: #000; text-decoration: none; }
a:hover { color: #999; }
a:active { 
	text-decoration: underline;}#meny {
 	margin: 30px; 
 	padding: 0; 
 	list-style: none;
 }
 
#menulist li {
	display: inline; 
 	list-style-type: none;
 	padding: 0 10px 0 0; 
 }

#container {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}

#jumbotron {
	height: 150px;
}

#menu {
	height: 30px;
	background-color: lightseagreen;
	text-align: center;
	padding-top: 10px;
}

#content {
	height: 400px;
	background-color: rgba(170, 170, 200, 0.1);
	color: rgba(255,255,255,0.1);	
}


#content h1 {
    text-shadow: 4px 5px 3px rgba(0,0,0, 0.5);
    font-family: 'Comic Sans MS', Verdana, Geneva, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #000;    
}